<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sumy.gamestore.mapper.GameInfoMapper">
 	<select id="selectGameList" parameterType="com.sumy.gamestore.dto.PagingVO" resultType="com.sumy.gamestore.model.GameInfo">
 		select * from game_info 
 		
 		<trim prefix="WHERE" prefixOverrides="AND|OR">

			<if test="keyword != null and keyword != '' ">
				AND game_title like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
		order by game_id desc limit #{start}, #{cntPerPage}
		

 	</select>
 	
 	<select id="countGameList" parameterType="com.sumy.gamestore.dto.PagingVO" resultType="int">
 		select count(*) from game_info 
 		<trim prefix="WHERE" prefixOverrides="AND|OR">

			<if test="	keyword != null and keyword != '' ">
			
				AND game_title like CONCAT('%', #{keyword}, '%')

			</if>

		</trim>

 	</select>
 	
</mapper>