<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sumy.gamestore.mapper.PurchasedMapper">
 	<select id="selectPurchasedGameList" parameterType="com.sumy.gamestore.dto.PagingVO" resultType="com.sumy.gamestore.dto.PurchasedGameInfoDto">
 		select
 		p.purchased_game_id,
 		p.game_id,
 		p.user_id,
 		p.purchased_write_date,
 		
		game_title,
		game_dev,
		game_price,
		game_discount_rate,
		game_sub_text,
		game_main_text,
		game_rate,
		game_thumb_image,
		game_category_id1,
		game_category_id2,
		game_category_id3,
		game_category_id4,
		game_intro_image1,
		game_intro_image2,
		game_intro_image3,
		game_intro_image4,
		game_intro_image5,
		game_release_date,
		game_update_date,
		game_sale_count,
		game_total_earnings
		 
		 from
		 purchased_game_list p
		 
		 join game_info g
		 on p.game_id = g.game_id 		
		 
 		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND user_id = ${loginUserId}
			<if test="keyword != null and keyword != '' ">
				AND g.game_title like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
		
		<if test="orderOpt == null or orderOpt == '' ">
		order by purchased_game_id desc  
		</if>
		<if test="orderOpt == 'dictionary' ">
		order by game_title
		</if>
		<if test="orderOpt == 'priceAsc' ">
		order by (game_price * (100 - game_discount_rate) / 100)
		</if>
		<if test="orderOpt == 'priceDesc' ">
		order by (game_price * (100 - game_discount_rate) / 100) desc
		</if>
		
		limit #{start}, #{cntPerPage}
		

 	</select>
 	
 	<select id="countPurchasedGameList" parameterType="com.sumy.gamestore.dto.PagingVO" resultType="int">
 		select
		count(*)		 
		 from
		 purchased_game_list p
		 
		 join game_info g
		 on p.game_id = g.game_id 		
		 
 		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND user_id = ${loginUserId}
			<if test="keyword != null and keyword != '' ">
				AND g.game_title like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
		
 	</select>
 	
</mapper>