<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sumy.gamestore.mapper.QuestionListMapper">
 	<select id="selectQuestionList" parameterType="com.sumy.gamestore.dto.PagingVO" resultType="com.sumy.gamestore.dto.QuestionUserDto">
 		<!-- select * from question_list -->
 		select * 
		from question_list as q 
		inner join user_info as u 
		on q.user_id = u.user_id
 		
 		<trim prefix="WHERE" prefixOverrides="AND|OR">

			<if test="keyword != null and keyword != '' ">
				AND question_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="readerYn != null and readerYn != '' and readerYn == 'Yes'">
				AND question_read_yn = 1
			</if>
			<if test="readerYn != null and readerYn != '' and readerYn == 'No'">
				AND question_read_yn = 0
			</if>
			<if test="answerYn != null and answerYn != '' and answerYn == 'Yes'">
				AND question_answer_yn = 1
			</if>
			<if test="answerYn != null and answerYn != '' and answerYn == 'No'">
				AND question_answer_yn = 0
			</if>
		</trim>
		order by question_id desc limit #{start}, #{cntPerPage}
		

 	</select>
 	
 	<select id="countQuestionList" parameterType="com.sumy.gamestore.dto.PagingVO" resultType="int">
 		<!-- select count(*) from question_list -->
 		select count(*) 
		from question_list as q 
		inner join user_info as u 
		on q.user_id = u.user_id
 		<trim prefix="WHERE" prefixOverrides="AND|OR">

			<if test="	keyword != null and keyword != '' ">
				AND question_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="readerYn != null and readerYn != '' and readerYn == 'Yes'">
				AND question_read_yn = 1
			</if>
			<if test="readerYn != null and readerYn != '' and readerYn == 'No'">
				AND question_read_yn = 0
			</if>
			<if test="answerYn != null and answerYn != '' and answerYn == 'Yes'">
				AND question_answer_yn = 1
			</if>
			<if test="answerYn != null and answerYn != '' and answerYn == 'No'">
				AND question_answer_yn = 0
			</if>
		</trim>

 	</select>
 	
</mapper>